:root {
	--primary-color: #393c41;
	--secondary-color: #4d4e52;
	--darker-color: #111113;
	--nav-link-color: #181821;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	color: var(--primary-color);
}

body {
	width: 100%;
	font-family: "Gotham", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1;
	overflow-x: hidden;
}

h1 {
	font-size: 4.25rem;
	font-weight: 500;
	padding: 0.5rem 0;
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}

ol,
ul {
	list-style: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navigation a,
.ham-menu a {
	color: var(--nav-link-color);
}

/* Home Sections start */
.section-sub-heading {
	font-size: 1.4rem;
	font-weight: 400;
	padding: 0.3rem 0;
	color: var(--secondary-color);
}

a.order-link {
	color: var(--secondary-color);
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	transition: all ease-in-out 0.3s;
	backface-visibility: hidden;
}

a.order-link:hover {
	border-width: 2px;
	color: black;
	border-color: var(--darker-color);
}
/* Home Sections end */

/* alternate component stylings START */
#homeBtn-large-height {
	height: 17rem !important;
}

#solar-panels-heading {
	font-size: 3.5rem;
}

#accessories-btn {
	background-color: #171a20;
	opacity: 1;
}
/* alternate component stylings END */

/* animations */
@keyframes animateHomeArrow {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: none;
	}

	40% {
		transform: translateY(5px);
	}

	60% {
		transform: translateY(3px);
	}
}
